.login-box {
  width: 100%;
  margin: 170px 0 150px;
}
.login form {
  width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.login form label {
  font-size: 20px;
  margin-bottom: 10px;
}
.login .password {
  margin-top: 20px;
}
.login input {
  font-size: 18px;
  border-bottom: 1px solid #404040;
  padding: 0 0 5px;
}
.login input:focus {
  border-bottom: 1.5px solid #f9714b;
}
.login .login-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
}
.login .auto-login {
  display: flex;
  align-items: center;
}
.login .auto-login label {
  font-size: 16px;
  margin: 0 5px 0 0;
}
.login .auto-login input {
  width: 16px;
  height: 16px;
}
.login .sns-login a {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
}
.login .login-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 70px;
  text-align: center;
  background-color: #f9714b;
  margin-top: 50px;
}
.login .login-btn:hover {
  background-color: #e3613d;
}
.login .signin {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.login .signin p {
  font-size: 18px;
}
.login .signin a {
  color: #f9714b;
  font-size: 18px;
  font-weight: 500;
  text-decoration: underline;
  margin-left: 10px;
}
.login .signin a:hover {
  color: #f9714b;
  text-decoration: underline;
}
.login .sns-login {
  margin-top: 50px;
}
.login .naver-login-btn {
  background-color: #1dc800;
}
.login .naver-login-btn:hover {
  background-color: #1fb805;
}
.login .kakao-login-btn {
  background-color: #ffe617;
  margin-top: 15px;
}
.login .kakao-login-btn:hover {
  background-color: #edd617;
}
.login .naver-login-btn img,
.login .kakao-login-btn img {
  width: 25px;
  height: 25px;
}
.login .sns-login span {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}
.login .kakao-login-btn span {
  color: #3a2929;
}


@media (max-width: 767px) {
  .login {
    width: 100vw;
  }
  .login .inner {
    width: 100%;
    padding: 0 60px;
  }
  .login .login-box {
    margin: 130px 0 100px;
  }
  .login form {
    width: 100%;
  }
  .login form label {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .login .password {
    margin-top: 10px;
  }
  .login input {
    font-size: 12px;
    border-bottom: .5px solid #404040;
    padding: 0 0 3px;
  }
  .login input:focus {
    border-bottom: 1px solid #f9714b;
  }
  .login .login-option {
    margin-top: 5px;
  }
  .login .auto-login label {
    font-size: 10px;
    margin: 0 3px 0 0;
  }
  .login .auto-login input {
    width: 10px;
    height: 10px;
  }
  .login .find-id {
    font-size: 10px;
  }
  .login .sns-login a {
    height: 40px;
  }
  .login .login-btn {
    font-size: 13px;
    line-height: 40px;
    margin-top: 15px;
  }
  .login .signin {
    margin-top: 10px;
  }
  .login .signin p {
    font-size: 10px;
  }
  .login .signin a {
    font-size: 10px;
    margin-left: 5px;
  }
  .login .sns-login {
    margin-top: 30px;
  }
  .login .kakao-login-btn {
    margin-top: 10px;
  }
  .login .naver-login-btn img,
  .login .kakao-login-btn img {
    width: 13px;
    height: 13px;
  }
  .login .sns-login span {
    font-size: 13px;
    margin-left: 5px;
  }
}